/*---框架---*/
.s2,.wb_b,.link,.wp,.works,.sc9 .hd,.f2 ul{width:1180px;margin:0 auto;}
.news,.news2,.sc0,.sc1,.sc2,.sc3,.sc6 .bd,.sc7,.sc8,.f1 span,.ls01{width:1200px;margin:0 auto;overflow:hidden}
.sc1 ul,.sc2 ul,.sc3 ul,.sc6 .bd ul,.sc7 ul,.sc8 ul,.sc9 .hd ul,.sc4{width:1215px}
body,.head{min-width:1180px}

.ap{margin-top:83px}
.ap iframe{height:790px;width:100%}
/*---幻灯片---*/
.ilankpic{position:relative;height:790px;z-index:1;overflow:hidden;background:#ddd url(../theme/load.gif) no-repeat center center;margin-top:83px}
.ilankpic .bd{width:3000px;left:50%;margin-left:-1500px;position:relative;height:790px}
.ilankpic .bd li{float:left;width:100%;height:790px;background-position:center 0;background-repeat:no-repeat}
.ilankpic .bd a{display:block;height:480px;width:1000px;margin:100px auto 0;position:relative;z-index:2}
.ilankpic .hd{position:absolute;bottom:20px;z-index:1;width:100%;height:21px;text-align:center;margin:0 auto}
.ilankpic .hd li{display:inline-block;_display:inline;cursor:pointer;width:21px;height:21px;background:url(../theme/ulink.png) no-repeat}
.ilankpic .hd li.on{background-position:-21px 0}
/* .ilankpic i{background:url(../theme/ap.png) no-repeat center bottom;height:192px;width:100%;position:absolute;left:0;bottom:0} */

/*---小图标---*/
.sc8{margin-top:50px}
.sc8 .hd{position:relative;z-index:2}
.sc8 .prev,.sc8 .next{width:49px;height:97px;display:block;background:url(../theme/sc8_3.png) no-repeat;position:absolute;left:0;top:53px}
.sc8 .next{background-position:-51px 0;left:1131px}
.sc8 .prev:hover{background-position:0 -103px}
.sc8 .next:hover{background-position:-51px -103px}
.sc8 .bd{width:1020px;height:340px;margin:0 auto;overflow:hidden}
.sc8 li{float:left;margin-right:70px;width:202px;display:inline;position:relative;text-align:center}
.sc8 li a{display:block;padding-top:0px}
.sc8 li a:hover{background-position:-208px 0}
.sc8 span{width:202px;height:202px;display:block;background:url(../theme/sc8.png) no-repeat;margin:0 auto 25px}
.sc8 .n2{background-position:-322px 0}
.sc8 .n3{background-position:-400px 0}
.sc8 .n4{background-position:-967px 0}
.sc8 .n5{background-position:-644px 0}
.sc8 .n6{background-position:-1289px 0}
.sc8 a h3{font-size:20px;overflow:hidden;line-height:30px;font-weight:normal;color:#999}
.sc8 a:hover h3{color:#666}
.sc8 i{font-family:"Impact","Trebuchet MS", Arial, Helvetica, sans-serif;font-size:30px;font-style:normal;color:#0054a7;line-height:40px; font-family:"Microsoft YaHei";}
.sc8 a:hover i{color:#a40182}
.sc8 p{font-size:14px;line-height:24px;color:#999}
.sc8 a:hover p{color:#666}

/*---首页新闻---*/
.hd04 a:hover span{background:#00abeb;color:#fff;border-radius:5px}
.h0{margin-top:50px}
.news .bd{height:500px;overflow:hidden}
.news .bd img{width:1180px;height:500px;display:block}
.news .hd{width:1182px}
.news .hd li{width:393px;padding:10px 0;border-right:1px solid #ccc;float:left;text-align:center;margin-top:30px}
.news .hd a h3{font-size:18px;color:#333;line-height:30px;height:30px;overflow:hidden;font-weight:normal;cursor:pointer}
.news .hd a:hover h3,.news .on a h3{color:#0054a7}
.news .hd a i{color:#999;line-height:20px;font-style:normal;font-size:9px\9;display:block}
.news .hd a p{color:#666;line-height:26px;padding:10px 50px 0;cursor:pointer;font-size:14px}
/*---内页新闻---*/
.news2 li{margin-bottom:80px;text-align:center}
.news2 a{background:#fff;padding-bottom:40px;display:block}
.news2 img{width:1180px;height:500px;display:block}
.news2 a h3{margin-top:20px;font-size:24px;color:#333;line-height:40px;font-weight:normal;cursor:pointer}
.news2 a i{color:#999;line-height:20px;font-style:normal;display:block;cursor:pointer}
.news2 a:hover h3,.news2 a:hover i{color:#c60}
.news2 a:hover{background:#ffc}

/*---广告2---*/
.ap2{height:330px;overflow:hidden;margin-top:70px;padding-top:215px;background-position:center 0;background-repeat:no-repeat}
.ap2 a{display:block;padding-top:340px;width:1000px;margin:0 auto}

/*---景点推荐---*/
.hot a{width:764px}
.sc9 .bd{height:600px;overflow:hidden;position:relative}
.sc9 .bd li{float:left;width:100%;height:100%;background-position:center 0;background-repeat:no-repeat}
.sc9 .bd a{display:block;height:100%;width:1000px;margin:0 auto}
.sc9 .hd{position:relative;height:195px;overflow:hidden}
.sc9 .hd i{border-bottom:1px solid #bfc5c8;position:absolute;bottom:2px;width:100%;display:block}
.sc9 .hd span{display:block;background:#a40182;width:220px;height:5px;position:absolute;bottom:0;font-size:0;line-height:0}
.sc9 .hd li{margin-right:20px;float:left;text-align:center}
.sc9 .hd h3{font-size:18px;font-weight:normal;line-height:58px}
.sc9 .hd a:hover,.sc9 .hd .on a{color:#a40182}
.sc9 .hd img{width:220px;height:110px;display:block}
/*---海外作品--*/
.h7{background-position:center -460px}
.h7 a{width:724px}
/*---蔚蓝海岸作品--*/
.h8{background-position:center -2070px}
.h8 a{width:735px}
.sc1 li{float:left;margin:0 12px 40px 0;width:286px}
.sc1 li a{display:block}
.sc1 img,.sc1 .t1{width:286px;height:404px;display:block;overflow:hidden}
.sc1 a .t1{color:#fff}
.sc1 .t1{position:relative;left:0;background:#000;text-align:center}
.sc1 .t1 span{position:absolute;left:0;top:-259px;width:100%;height:259px;cursor:pointer;background:url(../theme/chloe.png) no-repeat center 0}
.sc1 .t1 h3{font-size:16px;margin:165px 0 10px}
.sc1 .t1 i{font-style:normal;line-height:22px;display:block}
.sc1 .t1 p{position:absolute;bottom:-32px;font-size:9px\9;width:290px;text-transform:uppercase}
.sc1 .t2{text-align:right;margin-left:64px}
.sc1 .t2 h3{border-bottom:1px solid #ddd;font-size:18px;line-height:34px;height:34px;overflow:hidden}
.sc1 h3,.sc1 h4{font-weight:normal}
.sc1 .t2 span{font-family:Georgia, "Times New Roman", Times, serif;font-size:16px;line-height:28px;font-style:italic;color:#aaa}
.sc1 .t2 h4{font-size:14px;line-height:20px;color:#aaa;display:block;height:20px}
.sc1 a:hover .t2 span,.sc1 a:hover .t2 h4{color:#666}
#sc1 li{margin-right:14px;width:384px}
#sc1 .t1 span{top:-317px;height:317px;background:url(../theme/chloe2.png) no-repeat center 0}
#sc1 .t1 h3{font-size:24px;margin:200px 0 10px}
#sc1 .t1 i{font-size:16px}
#sc1 img,#sc1 .t1{width:384px;height:556px}

/*---微电影--*/
.h2{background-position:center -690px;margin-top:60px}
.h2 a{width:509px}
.sc2 li{float:left;width:384px;margin:0 14px 20px 0}
.sc2 li a{display:block}
.sc2 img,.sc2 .t1{width:384px;height:215px;display:block;overflow:hidden}
.sc2 .t1{position:relative;background:#000}
.sc2 .t1 span{position:absolute;left:50%;top:50%;width:73px;height:73px;cursor:pointer;background:url(../theme/p1.png) no-repeat;margin:-36px 0 0 -36px}
.sc2 .t2{text-align:right;margin-left:64px}
.sc2 .t2 h3{border-bottom:1px solid #e6e6e6;font-size:18px;line-height:34px;height:34px;overflow:hidden}
.sc2 h3,.sc2 h4{font-weight:normal}
.sc2 .t2 span,.sc2 .t2 h4{font-family:Georgia, "Times New Roman", Times, serif;font-size:14px;line-height:22px;font-style:italic;color:#aaa}
.sc2 a:hover .t2 span,.sc2 a:hover .t2 h4{color:#666}
.s2{position:relative}
.s2 a{display:block;background:#000}
.s2 i{cursor:pointer;width:178px;height:178px;margin:-89px 0 0 -89px;display:block;background:url(../theme/p2.png) no-repeat;position:absolute;left:50%;top:50%}
.s2 img{width:1180px;height:625px;display:block}
.s2 span{background:url(../theme/ap.png) no-repeat center bottom;height:123px;width:1180px;position:absolute;bottom:0;_bottom:-1px}
/*---客片---*/
.h3{background-position:center -920px}
.h3 a{width:719px}
.mo3{position:relative;text-align:center;clear:both;margin-top:40px;_height:37px}
.mo3 span{border-bottom:1px solid #bfc5c8;width:100%;display:block;position:absolute;bottom:0;left:0}
.mo3 a{position:relative;z-index:1}
.mo3 i,.mo3 b{padding:0 20px;display:inline-block;cursor:pointer;line-height:36px;height:36px;font-size:18px}
.mo3 i{background:#00abeb;color:#eee;font-family:Georgia, "Times New Roman", Times, serif}
.mo3 b{background:#a40182;font-weight:normal;color:#fff;position:relative;bottom:-1px;_bottom:1px}
.mo3 a:hover i{background:#378ce1}
.mo3 a:hover b{background:#d63cb6}
.mo3 a:hover{color:#fff}

/*---微博---*/
.wb{position:relative;overflow:hidden;margin-top:100px;height:1121px}
.wb q{background:#00abeb;height:760px;position:absolute;bottom:0;width:100%;left:0;display:block;z-index:-1}
.wb .hd04{background-position:center -1840px;margin:49px auto 126px}
.wb .hd04 a{width:574px;padding-top:146px;height:93px}
.wb .r{width:820px;float:right}
.sc5{position:relative}
.sc5 b{position:absolute;right:10px;top:0;border-right:1px solid rgba(255,255,255,0.2);height:670px}
.sc5 .hd{position:absolute;right:0;top:15%;z-index:1;width:21px;background:#00abeb;padding:10px 0}
.sc5 .hd li{display:block;cursor:pointer;width:21px;height:21px;background:url(../theme/ulink2.png) no-repeat}
.sc5 .hd li.on{background-position:-21px 0}
.sc5 .bd li{clear:both;position:relative;margin:0 0 42px 58px;overflow:hidden;line-height:24px;width:700px}
.sc5 .n,.sc5 .n s,.sc5 span{width:108px;height:108px;display:block;overflow:hidden}
.sc5 .n{background:#000}
.sc5 .n s{background:url(../theme/face3.png) no-repeat center center;position:absolute;left:0;top:108px}
.sc5 img{width:100px;height:100px;margin:4px 8px 0 4px}
.sc5 span{background:url(../theme/face.png) no-repeat;position:absolute;left:0;top:0;cursor:pointer;height:140px}
.sc5 .txt{float:left;width:518px;padding:23px 20px 0 50px;height:114px;background:url(../theme/face2.png) no-repeat;font-size:14px;line-height:30px;cursor:pointer}
.sc5 a{color:#fff;float:left}
.sc5 h3{color:#ff6;font-weight:normal;font-size:18px}
.sc5 a:hover p{color:#00abeb}
.wb .l{background:url(../theme/iphone.png) no-repeat;height:1042px;float:left;width:354px}
.wb .l iframe{margin:103px 0 0 25px}
.wb .l span{cursor:pointer;margin:140px auto 0;width:192px;height:273px;display:block;text-indent:-100px;overflow:hidden}
/*---内页---*/
.wb2{margin-top:30px;overflow:visible}
.wb2 q{height:1400px;top:355px;bottom:auto}
.wb2 .page a:hover{background:#00abeb;color:#333}
.wb2 .page{margin-left:118px}
.wb2 .page i{margin:0 5px;color:#fff}
.wb2 .page_t{padding:0 0 40px}
/*--首页套系--*/
.h4{background-position:center -1150px}
.h4 a{width:620px}
.sc3 li{float:left;margin-right:28px;display:inline;position:relative;text-align:center}
.sc3 li a{display:block}
.sc3 img{width:274px;height:274px;display:block}
.sc3 span{width:274px;height:333px;display:block;background:url(../theme/pr.png) no-repeat;position:absolute;left:0;top:0}
.sc3 a:hover span{background-position:-278px 0}
.sc3 h3{font-size:20px;width:274px;overflow:hidden;height:30px;margin:78px 0 12px;font-weight:normal;color:#333}
.sc3 i{height:40px;font:35px/40px Georgia, "Times New Roman", Times, serif;font-style:italic;background:url(../theme/pr2.png) no-repeat;padding-left:96px;color:#999}
.sc3 a:hover i,.sc3 a:hover h3{color:#a40182}

/*---最新资讯---*/
.h5{background-position:center -1380px}
.h5 a{width:557px}
.ls01 li{width:550px;border-bottom:1px solid #ddd;padding:20px 40px 30px 0;position:relative;float:left;overflow:hidden}
.ls01 img{width:198px;height:130px;float:left;margin:0 10px 0 0}
.ls01 span{background:url(../theme/i.png) no-repeat;_background:url(../theme/i.gif) no-repeat;position:absolute;top:20px;left:0;width:198px;height:130px;display:block;cursor:pointer}
.ls01 h3{line-height:28px;height:28px;margin-bottom:8px;overflow:hidden;cursor:pointer;font-size:20px;font-weight:normal;text-rendering:optimizeLegibility}
.ls01 i{font-style:normal;cursor:pointer;color:#aaa}
.ls01 a{display:block}
.ls01 a:hover i{color:#f60}
.ls01 a:hover{text-decoration:none}
.ls01 p{line-height:20px;margin-top:5px;display:block}
.ls01 a:hover p{color:#333}
.sc6{background:#fff;padding-bottom:50px;overflow:hidden}
.sc6 .hd{width:544px;margin:0 auto;overflow: hidden;}
.sc6 .hd li{float:left;}
.sc6 .hd a{color:#fff;display:block;font-size:16px;text-align:center;color:#4b4b4b;border-right:1px solid #7A7A7A;padding:0 14px;}
.sc6 .hd li:last-child a{border-right:none;}
.sc6 .hd a:hover,.sc6 .on a{color:#0054a7;}
.sc6 .bd{clear:both;padding-top:50px}
.sc6 .bd li{float:left;margin:0 12px 70px 0;display:inline;position:relative;text-align:center;background:#fff;/*border-radius:10px;*/position:relative;width:291px}
.sc6 .bd li a{display:block;color:#999}
.sc6 .bd li a:hover{color:#000;background:url(../theme/new2.png) no-repeat right bottom}
.sc6 img{width:291px;height:448px;display:block}
.sc6 .bd h3{font-size:16px;overflow:hidden;height:40px;line-height:40px;font-weight:normal;background:#378ce1;color:#fff}
.sc6 .bd a:hover h3{background:#0054a7}
/*.sc6 .bd span{display:block;font-family:Georgia, "Times New Roman", Times, serif;font-size:16px;margin-top:20px;font-style:italic;color:#657681}*/
/*.sc6 .bd p{line-height:26px;padding:15px 20px 30px;height:80px;font-size:14px;cursor:pointer}*/
.sc6 i,.sc6 b{background:url(../theme/new.png) no-repeat 0 bottom;height:10px;width:100%;position:absolute;left:0;cursor:pointer;font-size:0;line-height:0}
.sc6 i{top:0}
.sc6 b{background-position:0 0;bottom:0;_bottom:-1px}

/*---品牌优势---*/
.h6{background-position:center -1610px}
.h6 a{width:732px}
.sc7 li{float:left;margin-right:28px;width:274px;display:inline;position:relative;text-align:center}
.sc7 span{width:190px;height:217px;display:block;background:url(../theme/kb.png) no-repeat;margin:0 auto 20px}
.sc7 .n2{background-position:-200px 0}
.sc7 .n3{background-position:-400px 0}
.sc7 .n4{background-position:-600px 0}
.sc7 a h3{font-size:20px;overflow:hidden;height:30px;line-height:30px;font-weight:normal;color:#333}
.sc7 a:hover h3{color:#a40182}
.sc7 p{font-size:14px;line-height:30px;color:#657681}

/*---列表页客片---*/
.nav4{font-size:18px;text-align:center;margin:0 0 50px}
.nav4 li{margin:0 5px;display:inline}
.nav4 li a{padding:0 15px;display:inline-block;line-height:38px;border:1px solid #ccc;border-radius:6px}
.nav4 .on a{background:#a40182;border:1px solid #a40182;color:#fff}
.nav4 .on a:hover{background:none}
.nav4 li a:hover{border:1px solid #a40182;color:#a40182}
/*---分页--*/
.page{clear:both;padding-top:40px;color:#ccc;text-align:center;font-size:14px;line-height:32px}
.page b,.page strong{font-weight:normal}
.page i{margin:0 8px}
.page b{position:relative;left:-15px}
.page a,.page span,.page strong{margin:0 2px;padding:6px 12px;border-radius:3px;background:#fff}
.page a{color:#333}
.page strong{background:#a40182;color:#fff}
.page a:hover{background:#999;color:#fff}

.sc0 ul{padding:0 0 30px 0;width:1202px}
.sc0 li{width:580px;float:left;margin:0 20px 25px 0;display:inline;position:relative;overflow:hidden}
.sc0 li a{display:block;color:#999}
.sc0 img{width:580px;height:385px;display:block}
.sc0 ins{position:absolute;top:225px;left:-580px;width:100%;cursor:pointer;background:url(../theme/han2.png) no-repeat 30px 0;height:156px;border-bottom:5px solid #3cf}
.sc0 h3{font-size:16px;font-weight:normal;line-height:40px}
.sc0 a:hover h3{color:#a40182}
.sc0 i{font-style:normal;margin:5px 0;line-height:20px;font-family:Georgia, "Times New Roman", Times, serif;float:right;text-align:right}
.sc0 p{border-top:1px solid #e6e6e6;padding-top:5px;text-align:right}
.sc0 a:hover p{color:#a40182}
.sc0 p,.sc0 span{display:block;overflow:hidden}

/*---首页友情链接---*/
.link{overflow:hidden;padding:0px 0 100px;line-height:18px;color:#999}
.link .hd{float:left;margin-right:10px;text-align:right}
.link .bd a{color:#999;margin-right:4px}
.link .bd a:hover{color:#333;text-decoration:underline}
.link .link_u{cursor:pointer}
.link .link_u:hover{color:#f60;text-decoration:underline}

/*---底部---*/
/* .f0{background:url(../theme/f0.png) no-repeat center 0;height:122px;clear:both} */
.foot{background:#f3f3f3 url(../theme/bg.jpg);padding-top: 80px;}
.f1{background:#e8d9c3 url(../theme/f1.png) no-repeat center 0;height:351px}
.f1 span{display:block;padding-top:0px}
.f1 i{float:left;display:block;width:1920px;height:232px;margin:-44px 0 62px -86px;cursor:pointer}
.f1 i.r{margin-left:100px;width:490px}
.f2{background:#00abeb url(../theme/map.png) no-repeat center 0;height:632px}
.f2 ul{position:relative}
.f2 li{position:absolute;font-size:14px}
.f2 .n0{top:210px;left:940px}
.f2 .n1{top:388px;left:1005px;font-size:16px}
.f2 .n2{top:300px;left:1026px}
.f2 .n3{top:318px;left:940px}
.f2 .n4{top:353px;left:835px}
.f2 .n5{top:190px;left:923px;font-size:12px}
.f2 .n6{top:204px;left:1028px}
.f2 .n7{top:159px;left:1064px}
.f2 .n8{top:232px;left:930px}
.f2 .n20{top:381px;left:835px}
.f2 .n21{top:142px;left:563px}
.f2 .n22{top:257px;left:-65px}
.f2 .n23{top:178px;left:635px}
.f2 a{color:#ffe001;padding:0 3px;border-radius:3px}
.f2 .n20 a,.f2 .n21 a,.f2 .n22 a,.f2 .n23 a{color:#fff}
.f2 a:hover{color:#333;background:#ffe001}
.f3{background:url(../theme/f3.png) no-repeat center 0;height:445px}
.f3 .bd{width:812px;height:293px;padding-top:45px;margin:0 auto;overflow:hidden}
.f3 .l{width:360px;height:170px;margin-left:20px;overflow:hidden}
.f3 .l a{display:block;padding-top:180px}
.f3 ul{float:right;width:360px}
.f3 li{background:url(../theme/f3_i.png) no-repeat;font-size:16px;line-height:40px;height:40px;overflow:hidden}
.f3 .n2{background-position:0 -40px}
.f3 .n3{background-position:0 -80px}
.f3 .n4{background-position:0 -120px}
.f3 li a{color:#fff;padding-left:30px}
.f3 li a:hover{color:#00abeb}
.f3 .bt{width:92px;height:92px;margin:0 auto;overflow:hidden}
.f3 .bt a{display:block;padding-top:95px}
.f4{padding:20px 0 0;height:150px;margin:0 auto;line-height:30px;clear:both;text-align:center;font-size:14px}
.f4 a:hover{text-decoration:underline}
.f4 a.ilank{padding:0 5px}
.f4 a.ilank:hover{color:#fff;background:#333;border-radius:3px}
.f4 i{font-family:Georgia, "Times New Roman", Times, serif;color:#999;display:block}
#nav2{background:#0054a7;height:80px;text-align:center;position:relative}
#nav2 i{border-bottom:1px solid #0054a7;position:absolute;left:0;bottom:0;width:100%}
#nav2 ul{width:1180px;margin:0 auto}
#nav2 li{float:left;position:relative}
#nav2 a{display:block;float:left;height:80px;color:#fff;width:116px;position:relative}
#nav2 a:hover{height:80px;text-decoration:none;background:#0054a7}
#nav2 b{font-weight:normal;font-size:16px;margin:20px 0 5px;display:block;position:relative}
#nav2 a span{font-size:9px\9;line-height:12px;display:block;font-weight:normal;cursor:pointer;position:relative;color:#c4cfd8}
.baikf{display:block;margin-top:20px}
/*.baikf img{display:none}*/
.rz img{margin-right:5px;height:30px;cursor:pointer}
.t360{display:none}

/*---作品列表---*/
.wrap{width:930px;margin:18px auto 0}
.main{width:940px;float:right;overflow:hidden}
.main .hd{height:27px;padding-top:5px;line-height:27px;color:#a40182;border-bottom:1px solid #dedede}
.main .hd h2{border-bottom:1px solid #a40182;float:left;padding:0 5px;font-size:14px}
.main .hd span{float:right;color:#999;background:url(../theme/ico_10.gif) no-repeat 0 10px;display:block;padding:0 10px 0 13px}
.main .hd span a{margin-right:5px}
.main .hd span a:hover{text-decoration:underline}
.main .hd span strong{font-weight:normal;margin-left:5px;color:#666}

/*---侧栏分类---*/
.side{width:210px;/*background:url(../theme/ico_8.jpg) no-repeat right 0*/}
.md02{text-align:right;/*background:url(../theme/ico_7.gif) no-repeat 8px 34px*/border-bottom:1px solid #ccc}
.md02 .hd{height:50px;line-height:50px;padding:10px 15px 0 0}
.md02 .hd h3{font-size:30px;color:#ccc;font-family:Copperplate Gothic Light,"Times New Roman", Times, serif;font-weight:normal;border-bottom:1px solid #ccc}
.md02 .hd h3 a{color:#a40182}
.md02 .hd h3 a:hover{color:#f60}
.md02 .bd{padding-bottom:23px}
.nav2{padding:16px 14px 0;overflow:hidden}
.nav2 li{clear:both}
.nav2 a{color:#333;display:block;height:28px;line-height:28px;padding-right:18px;overflow:hidden;margin-bottom:2px}
.nav2 a:hover,.nav2 .on a{color:#fff;background:#416483;border-radius:5px}
.nav2 a span{color:#666;margin-right:8px}
.nav2 a:hover span,.nav2 .on span{color:#fff}
/*.nav2 .nh a{margin-top:-3px}*/
/*---侧栏地址---*/
.bd01{padding-top:25px;zoom:1}
.md03{height:445px;text-align:right;overflow:hidden;padding:0 19px 0 0}
.te{padding-bottom:20px;color:#000;line-height:22px}
.te span{font-size:18px;font-family:AlternateGothic2BTRegular,Tahoma,sans-serif;position:relative;top:2px}
.md03 p{line-height:22px}
.qa{float:right;padding:5px 0 20px}
.qa li{width:32px;float:left;display:inline;text-align:center;background:url(../theme/m.gif) no-repeat;margin-left:10px}
.qa .w{background-position:-32px 0}
.qa .x{background-position:-64px 0}
.qa .y{background-position:-96px 0}
.qa a{width:32px;display:block}
.qa i{padding-top:33px;display:block}
.qa a span{color:#393;display:block;font-size:11px;line-height:9px;height:11px;cursor:pointer}
.qa a:hover span{color:#fff;background:#393}
#searchbox{background:url(../theme/search.gif) no-repeat 0 center;width:165px;height:22px;display:block;margin:0 0 15px 24px}
#searchbox .textfield{border:0;width:113px;color:#666;padding:2px 0 2px 3px;line-height:18px;letter-spacing:-1px;background:none}
#searchbox .button{background:none;border:0;width:45px;height:16px;cursor:pointer}

/*---作品列表---*/
/*.works .bd{padding:0 0 10px;overflow:hidden;clear:both}
.works .page{border-top:1px solid #dedede;padding-top:10px}
.page{margin:12px 12px 30px}
.hd01{background:url(../theme/i8_3.png) no-repeat 0 -135px;height:90px;overflow:hidden;margin:0 0 25px 0;border-bottom:1px solid #ddd}
.hd02{background-position:0 0}
.hd01 h2{height:38px;overflow:hidden}
.hd01 h2 span{padding-top:48px;display:block}
.hd01 ul{float:right;margin-right:60px}
.hd01 li{float:left;margin:12px 10px 0 0}
.hd01 li a{width:64px;height:24px;line-height:24px;text-align:center;display:block}
.hd01 li a:hover,.hd01 .current a{color:#fff;background:#a40182 url(../theme/c5.gif) no-repeat}*/
/*---拍摄花絮---*/
.bd3 .hd{margin:5px 20px 10px 8px;line-height:22px}
.bd3 .hd h2{font-weight:normal;font-size:16px; display:inline}
.bd3 .hd h2 a{color:#a40182}
.bd3 .hd a:hover{text-decoration:underline}
.bd3 .hd i{text-transform:uppercase;font-style:normal;display:inline;font-size:9px\9}
.bd3 .hd span{float:right;font-size:9px\9}
.bd3 .sc4{padding-left:8px;clear:both}
.bd3 .sc4 li{margin-bottom:20px}

/*--新闻列表--*/
.list04{padding:25px 15px 10px}
.list04 li{line-height:30px;height:30px;overflow:hidden;padding:0 15px;border-bottom:1px dotted #ccc;background:url(../theme/ico_11.gif) no-repeat 4px -21px}
.list04 li span{float:right}
.list04 li a{font-size:14px}
.i5,.i10,.i15,.i20,.i25{margin-bottom:20px}

/*---图文列表---*/
.list_p{padding:20px 0 0 10px;margin-right:12px}
.list_p li{border-bottom:1px dotted #cecece;padding:10px 0 15px;position:relative;clear:both;overflow:hidden}
.list_p img{width:200px;height:150px;float:left;margin:5px 10px 0 0}
.list_p h3{line-height:30px;height:30px;overflow:hidden;color:#a40182;cursor:pointer;font-size:18px;font-weight:normal}
.list_p a:hover h3{color:#a40182}
.list_p a:hover{text-decoration:none}
.list_p h3 span{font-size:12px;color:#999;margin-left:10px;font-weight:normal}
.list_p p{line-height:24px;margin-top:5px;font-size:14px}
.list_p .p3{background:url(../theme/i18.png) no-repeat;position:absolute;top:15px;left:0;width:200px;height:150px;display:block;cursor:pointer}
.list_p a.more{color:#fff;background:url(../theme/more2.gif) no-repeat 0 0;display:block;width:42px;padding-left:5px;height:13px;line-height:15px;overflow:hidden;position:absolute;top:110px;right:10px}
.list_p a.more:hover{text-decoration:none;color:#ff0}


/*--普通正文页--*/
.cntL{clear:both;overflow:hidden;background:#fff}
.main .cntL{padding:20px;border-radius:10px}
.lred{color:#c46200}
.lred:hover{color:#a40182;text-decoration:underline}
.main .cntL_hd{text-align:center;padding:10px 0}
.cntL_hd h1{font-size:24px;line-height:40px;color:#333;font-family:Microsoft Yahei,黑体;font-weight:normal;letter-spacing:1px}
.cntL_hd h5{font-weight:normal;color:#999}
.cntL_bd{font-size:14px;line-height:180%;text-align:left;padding:10px 0;margin:0 auto;overflow:hidden;clear:both}
.main .cntL_bd{padding:20px 0 10px}
.main .cntL_bd img{vertical-align:top;display:block;margin:0 auto}
.cntL_bd a{color:#F60}
.cntL_bd a:hover{text-decoration:underline}
.Content-body{margin:0 18px;border-top:1px dashed #e9ebef;padding-top:20px}
.Content-body img{margin:0 auto 40px;display:block;border:5px solid #eef1f5}
img.prh{margin:0 auto 20px;border:none;padding:0}
.cntL_bd img{background:none}
/*.cntL_bd p{margin:0 0 20px}*/
.cnt_tag{height:35px;line-height:35px;clear:both}
.tag{float:left;text-indent:15px}
.tag,.tag a{color:#999;margin-right:10px}
.tag a:hover{color:#000}
.ContentAuthor{color:#999;font-weight:normal;text-align:right;margin-right:10px}
.post-nav{border-top:1px dashed #f4f4f4;border-bottom:1px solid #f4f4f4;clear:both;height:32px;line-height:32px;overflow:hidden;background:#fbfbfb;}
.post-nav .l{float:left;padding-left:10px;width:285px;}
.post-nav .r{float:right;padding-right:10px;width:285px;text-align:right}
.more_d{color:#999}
.more_d:hover{color:#a40182}
/*---宽屏正文页---*/
.main_p{margin:0 auto;clear:both}
.main_p .hd{border-bottom:1px dashed #e9ebef;padding:10px 24px;color:#666;background:url(../theme/ico_10.gif) no-repeat 10px 15px}
.main_p .hd a:hover{text-decoration:underline}
.main_p .cntL_hd{padding:0 18px;height:110px}
.cntL_hd .p2{background:url(../theme/i19.png) no-repeat;position:absolute;top:5px;left:0;width:70px;height:92px;display:block}
.r01{float:right;height:74px;width:105px;margin:12px 30px 0 0;overflow:hidden}
.r01 a{width:42px;padding-top:76px;display:block;filter:alpha(opacity=70);opacity:0.70;float:left}
.r01 a:hover{filter:alpha(opacity=100);opacity:1}
.r01 .up{background:url(../theme/nav_c.gif) no-repeat -7px 0}
.r01 .down{background:url(../theme/nav_c.gif) no-repeat -59px 0;margin-left:10px}
.cntL_hd .l{float:left;padding:5px 0 0;width:780px;position:relative}
.cntL_hd .p1{width:70px;height:88px;float:left}
.cntL_hd .l h1,.l h5{float:left;width:600px}
.cntL_hd .l h1{padding:0 0 2px 17px;color:#a40182;line-height:30px}
.cntL_hd .l h5{line-height:24px;padding-left:18px;height:24px}
.sia{margin:0 8px 0 0;position:relative;top:3px}
/*----宽屏展示---*/
.md08{overflow:hidden;margin:0 auto;/*background:#fff;*/clear:both}
.md08 .bd{/*background:url(../theme/i24_1.gif) no-repeat center bottom;*/border-bottom:1px solid #e2e2e2;clear:both;margin:0 auto 30px;overflow:hidden;padding:0 0 30px}
.l1{float:left;position:relative}
.l1 img,.l1 span{display:block;height:240px;width:160px}
.l1 span{position:absolute;background:url(../theme/i24.png) no-repeat}
.l2{float:left;line-height:24px;margin-left:20px}
.l2 h1{font-family:Microsoft Yahei,黑体;color:#c46200;font-size:24px;line-height:30px;margin:0 0 8px;font-weight:normal}
.main_p .cnt_tag{background:#E9EBEF}
.main_p .cntL{border:1px solid #E9EBEF;border-top:none}
/*--视频--*/
#g_mv{width:1180px;height:704px;margin:0 auto 30px}
.mv_t{width:970px;font-size:14px;margin:5px auto 20px;color:#666}
.mv_t b{color:#c60;line-height:1.8em;font-weight:normal}
.lf08{font-size:18px;line-height:220%;padding-bottom:30px;text-align:center}
.lf08 img{vertical-align:top;margin:20px auto}
.lf09{font-size:18px;line-height:220%;padding:30px 0 50px;text-align:center;border-top:1px solid #ddd}
/*---作品小图列表---*/
.sc4{padding:0 0 20px 0;clear:both;overflow:hidden;width:1200px}
.sc4 li{margin:10px 0px 10px 0px;}
.sc4 img{display:block;margin:0 auto;}
/*---价格表页---*/
.lis1 a.more{top:55px}
.lis1 p{margin-right:150px}
.p4{margin:10px 0;font-size:14px;line-height:30px;float:right;font-style:italic;color:#a40182;margin:0 20px 0 0}
.p4 b{font-size:30px;font-family:Georgia, "Times New Roman", Times, serif;font-weight:normal;margin-right:3px}
.md_pr{background:url(../theme/i24_2.gif) repeat-x 0 bottom;margin:0 auto;overflow:hidden;padding-bottom:20px}
.md_pr .l1 img,.md_pr .l1 span{width:200px;height:150px}
.md_pr .l1 span{position:absolute;background:url(../theme/i24_2.png) no-repeat}
.md_pr .l2 span{margin:10px 0 0;display:block;font-size:14px;line-height:30px;padding:5px 0;border-top:1px dotted #ccc;width:500px;color:#000}
.md_pr .l2 b{font-style:italic;font-size:30px;font-family:Georgia, "Times New Roman", Times, serif;font-weight:normal; margin-right:3px;color:#a40182}
.cntL_bd.pri{padding-left:10px}
.pri img{/*margin:0 auto;*/display:block}
.pri .b0{border:none;padding:0}
/*---价格表预订表单---*/
#btn1{blr:expression(this.onFocus=this.blur());outline:none}
.BttnE,.BttnC{background:url(btn1.gif) no-repeat;width:142px;height:37px;display:block;overflow:hidden;margin-top:10px}
.BttnC{background-position:0 -37px}
#btn1 i{padding-top:40px;display:block}

/*内页相关作品*/
.art_h4{text-indent:10px;color:#141414; line-height:24px;border-bottom:1px solid #e9ebef; margin:0 10px}
.art{padding-bottom:10px;padding-left:15px}
.art li{float:left;margin:10px 26px 10px 0;text-align:center;display:inline}
.art li a{background:#eee;display:block;float:left;/*padding:4px 4px 2px;*/text-decoration:none}
.art li a:hover{background:#a40182;text-decoration:none}
.art img{background:#fff url(../theme/art.gif) no-repeat center center;display:block;height:60px;width:50px;margin-bottom:1px}
.art li a:hover img{}
.art a em{color:#fff;font-style:normal;height:10px;line-height:10px;overflow:hidden;width:50px;font-size:9px\9;letter-spacing:1px;display:block}
.art a:hover em{color:#fff;cursor:pointer}


.art_video{padding-bottom:10px;padding-left:15px}
.art_video li{float:left;margin:10px 26px 10px 0;text-align:center;display:inline}
.art_video li a{background:#eee;display:block;float:left;/*padding:4px 4px 2px;*/text-decoration:none}
.art_video li a:hover{background:#a40182;text-decoration:none}
.art_video img{background:#fff url(../theme/art.gif) no-repeat center center;display:block;height:60px;width:91px;margin-bottom:1px}
.art_video li a:hover img{}
.art_video a em{color:#fff;font-style:normal;height:10px;line-height:10px;overflow:hidden;width:50px;font-size:9px\9;letter-spacing:1px;display:block}
.art_video a:hover em{color:#fff;cursor:pointer}

/*---相关文章---*/
.cnt_about{padding:10px 0 10px}
.cnt_about ul{width:380px;float:right}
.cnt_about li{line-height:22px;height:22px;overflow:hidden;width:160px;overflow:hidden;float:left;margin:0 5px;background:url(../theme/ico_2.gif) no-repeat 5px 9px;padding-left:16px;display:inline}
.cnt_about li a{color:#999}
.cnt_about li a:hover{color:#a40182}
.cnt_about img{width:158px;height:119px;margin-right:10px;display:inline}
.md_kp .cnt_about ul{width:390px;float:right}
.md_kp .cnt_about li{width:160px}

/*---热门景点--*/
.md11{padding:10px 0}
.md11 a{color:#89672A;text-decoration:underline;margin-right:10px}
.md11 a:hover{color:#a40182}
.hd07{height:32px;overflow:hidden;margin-bottom:10px}
.hd07 i{float:left;font:normal 300 50px/100% AlternateGothic2BTRegular,Arial,sans-serif;color:#F60;margin:-3px 7px 0 0}
.hd07 a,.hd07 h1,.hd07 h2{color:#666;font-size:18px;line-height:20px;float:left;font-weight:normal}
.hd07 a:hover{color:#a40182;text-decoration:underline}
.hd07 a span,.hd07 h1 span{display:block;font-size:12px;color:#bebebe;line-height:14px;text-transform:uppercase}
.i1 i{color:#91abb5}
.i2 i{color:#b19f7f}
.i3 i{color:#8ebda6}
.i4 i{color:#ad809c}
.i5 i{color:#7cc346}
.list02{clear:both;padding:20px 0 50px;border-top:1px dotted #ccc;font-size:14px}
.list02 img{width:940px;height:440px;margin-bottom:10px;display:block}
.list02 .ii{margin:-58px 0 0}
.ii{width:44px;height:48px;margin:-48px 0 0;float:right;cursor:pointer}
a:hover .ii{background:url(../theme/ii.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src = '../theme/images/ii.png', sizingMethod = 'scale');position:relative}
.list02 dl{clear:both;line-height:180%}
.list02 dt{float:left;width:76px;font-weight:700}
.list02 dd{margin-left:76px}
.list02 dd a:hover{text-decoration:underline}
.bd06{border-top:none;padding-top:10px}
/*---翻书---*/
#app{width:684px;height:440px;margin:0 auto}
a.link01{color:#f00}
a.link01:hover{text-decoration:underline}
.hd09{border-bottom:1px dashed #CCC;position:relative;margin-bottom:10px;zoom:1}
.hd09 h1{margin:0 auto;text-align:center;font-size:26px;padding-bottom:10px;font-weight:normal}
.hd09 a{position:absolute;right:0;top:10px}
/*--相关景点--*/
.list03{padding:20px 0 40px 15px;overflow:hidden}
.list03 ul{width:330px;float:left}
.list03 li{line-height:22px;height:22px;overflow:hidden;width:130px;float:left;margin:0 10px 0 0;background:url(../theme/ico.gif) no-repeat 5px 10px;padding-left:16px}
.list03 li a{color:#999}
.list03 li a:hover{color:#a40182}
.list03 b{display:block; line-height:30px;padding-left:10px}

/*---服务报价--*/
.list05{padding-top:20px}
.list05 .hd07{margin-bottom:0}
.list05 li{margin-bottom:40px}
.list05 img{width:940px;height:440px;background:url(../theme/ico15.gif) no-repeat right 0;padding-top:20px;display:block}

/*---分页---*/
.inside .manu{background:#fff url(../theme/manu.jpg) repeat-y 0 0;padding:2px 0 2px 2px;line-height:16px;height:16px}
.manu{margin:10px 0 5px}
.manu{clear:both;line-height:16px;height:16px}
.manu span,.manu i{float:left;padding:0 8px}
.manu A,.manu strong{margin-right:2px;padding:0 8px;float:left}
.manu .current,.manu strong{font-weight:700;background:#a40182;color:#fff}
.manu .current:hover{color:#fff}
.manu .disabled{color:#ddd;margin:2px;padding:2px 5px;}
.manu A:hover,.manu A:active{outline:none;blr:expression(this.onFocus=this.blur());background:#f60; color:#fff}
.manu input{display:none}

/*---评论--- */
#gip{color:#c00;font-weight:700;cursor:pointer}
.face1{background:url(../theme/face/1.gif)}
.face2{background:url(../theme/face/2.gif)}
.face3{background:url(../theme/face/3.gif)}
.face4{background:url(../theme/face/4.gif)}
.face5{background:url(../theme/face/5.gif)}
.face6{background:url(../theme/face/6.gif)}
.face7{background:url(../theme/face/7.gif)}
.face8{background:url(../theme/face/8.gif)}
.face9{background:url(../theme/face/9.gif)}
.face10{background:url(../theme/face/10.gif)}
.face11{background:url(../theme/face/11.gif)}
.face12{background:url(../theme/face/12.gif)}
.face13{background:url(../theme/face/13.gif)}
.face14{background:url(../theme/face/14.gif)}
.face15{background:url(../theme/face/15.gif)}
.face16{background:url(../theme/face/16.gif)}
.face17{background:url(../theme/face/17.gif)}
.face18{background:url(../theme/face/18.gif)}
.face19{background:url(../theme/face/19.gif)}
.face20{background:url(../theme/face/20.gif)}
.face21{background:url(../theme/face/21.gif)}
.face22{background:url(../theme/face/22.gif)}
.face23{background:url(../theme/face/23.gif)}
.face24{background:url(../theme/face/24.gif)}
.face25{background:url(../theme/face/25.gif)}
.face26{background:url(../theme/face/26.gif)}
.face27{background:url(../theme/face/27.gif)}
.face28{background:url(../theme/face/28.gif)}
.face29{background:url(../theme/face/29.gif)}
.face30{background:url(../theme/face/30.gif)}
.comment{line-height:190%;margin:0 auto;clear:both;overflow:hidden;padding:0 20px 40px}
.comment .more_t{padding:20px 0 10px}
.comment .more_t b a{color:#c00;font-size:14px;text-decoration:underline}
.comment .more_t b a:hover{color:#90c;text-decoration:none}
.more_c{background:#a40182;color:#fff}
.more_c:hover{background:#c6f;color:#fff}
/*---回复人数块---*/.comment .more{padding:10px 0}
/*---100815增加的颜色块---*/
.comment .more a{background:#90f;color:#fff;padding:0 5px}
.comment .more img{background:none;margin:3px 3px -3px 0}
.comment .more a:hover{background:#c90;color:#fff}
/*---回复人数---*/.comment .more b{position:relative;height:1px}
/*---回复人数---*/.comment .more b span{position:absolute;width:300px;top:-30px;*top:8px;font:30pt Georgia;}
/*---块---*/.comment dl{padding-bottom:10px;padding-left:152px;padding-top:10px;background-position:0 11px;background-repeat:no-repeat}
/*---标题---*/.comment dt{line-height:25px;height:25px;background:#fff url(../theme/book.gif) repeat-x 0 1px;border:1px solid #D2D9E3;padding-top:1px}
/*---标题加粗---*/.comment dt strong{padding-left:33px;background:url(../theme/user.gif) no-repeat 10px center;color:#c00;padding-right:20px;font-size:14px;letter-spacing:1px}
/*---时间---*/.comment dt span{font-size:12px;letter-spacing:1px}
/*---计数---*/.comment dd .n{position:relative;text-align:right;height:1px;}
/*---计数---*/.comment .n em{font:30pt Georgia;position:absolute;top:-15px;right:12px;height:40px;line-height:50px;color:#D2D9E3}
/*---计数---*/.comment .n em span{font-size:14pt;font-style:italic}
/*---内容---*/.comment dd{line-height:180%;font-size:10.5pt;padding:9px 0 10px 14px;background:#fefefe;border:1px solid #D2D9E3;color:#202F46;min-height:179px;_height:179px;line-height:1.8em}
/*---用户内容---*/.comment dd .u{padding-right:110px}
/*---回复---*/.comment dd .a{border-top:1px dashed #D2D9E3;margin:13px 0 0 32px;padding:8px 8px 0 70px;min-height:55px;_height:55px;font-weight:700;background:url(../theme/admin.gif) no-repeat 1px 0}
/*---回复内容---*/.comment dd b{font-weight:400;color:#FF00AB}
.comment .post{margin:0 auto;padding-top:20px;width:644px;letter-spacing:1px}
#pos{margin-top:40px}
.textarea_top{padding-top:10px}
.comment label{font-size:14px;height:20px;line-height:20px}
.comment .input,.comment .input2{padding:4px;height:14px;vertical-align:middle;border:1px solid #d8dfe5;background:#fefefe;color:#555}
.comment .textarea,.comment .textarea2{border:1px solid #d8dfe5;background:#fff url(../theme/book_bg.gif) no-repeat right bottom;float:left;height:86px;width:520px;margin-top:2px;padding:6px;color:#555}
.comment .input2,.comment .textarea2{border:1px solid #c60;background:#fff url(../theme/btn_bg.gif) repeat-x 0 0;color:#09f}
.comment .btn{float:right;height:104px;width:104px;background:url(../theme/btn.gif) no-repeat center top;border:none; font-size:14px; font-weight:700; color:#663300;cursor:pointer}
.comment .btn:hover{background-position:center bottom}
/*---分隔线---*/.line{/*border-top:1px solid #dbdee5;*/margin:8px 0 5px;line-height:0;overflow:hidden}
.sunge_i_search{padding:10px 0 10px 20px}
.sunge_i_search #keyword,.sunge_i_search #searchtype{padding:1px 0 1px 1px;line-height:17px}
.inside .node{padding:0 20px 0}
.inside .node .title{line-height:25px;height:25px;font-size:14px;background:#fff url(../theme/book.gif) repeat-x 0 1px;border:1px solid #D2D9E3;padding-top:1px}
.inside .node .title h2{padding-left:33px;background:url(../theme/user.gif) no-repeat 10px center;color:#90c;padding-right:20px;font-size:14px;letter-spacing:1px}
.inside .node .description{line-height:180%;font-size:14px;padding:9px 14px 10px;background:#fefefe;border:1px solid #D2D9E3;border-bottom:none;color:#202F46;text-indent:2em}
.inside .node .info{margin-bottom:20px;background:#fefefe;border:1px solid #D2D9E3;border-top:none;color:#202F46;text-align:right; padding-right:10px;color:#999;padding-bottom:5px}

/*---文章页评论---*/
.main .comment{background:none;margin:10px auto;padding:0}
.main .comment .line{margin:5px 0;border:none;border-bottom:1px dashed #E6E6E6}
.main_p .comment,.book{padding-top:10px}
.book{padding-top:10px}

/*---关于我们---*/
.abt{line-height:2;font-size:16px;text-align: center;}
.abt img{vertical-align:top}
.q2{background:#ffc;color:#c30;margin-bottom:30px;padding:5px 0 5px 10px}
.q2 img{margin:6px 0 -6px 6px}
.bd02{background:url(../theme/a2.gif) no-repeat right 0;padding-top:10px;line-height:24px}

/*---留言---*/
#bks{width:886px;height:200px;margin:0 auto}
/*---活动大图---*/
.md10{position:relative;overflow:hidden;margin-top:80px}
.md10 .hd{display:none}
.md10_bd{width:2000px;position:relative;left:50%;margin-left:-1000px;text-align:center}
.md10_bd img{vertical-align:top}
.md10 .post-nav,.md10 .comment{background:none;width:930px;margin:0 auto;text-align:left}
.md10 .post-nav{background:url(../theme/l8_3.png);border:none;margin-top:-2px;color:#fff}
.md10 .post-nav a{color:#fff}
.md10 .post-nav a:hover{text-decoration:underline}
.md10 .comment{padding:20px 0 40px}
.md10 .post-nav{border-radius:4px}
.md10 .comment dd{border-radius:0 0 4px 4px}
.md10 #btn1{margin:10px auto 40px}
.md10 .BttnE,.md10 .BttnC{background:url(../theme/btn1.png) no-repeat}
.md10 .BttnC{background-position:0 -37px}
.md10 #bx1 .txt{width:600px;margin:30px auto 10px;text-align:left;padding:8px 0 8px 15px;background:#fff;border:1px solid #ccc;border-radius:6px;color:#333}

/*---tag---*/
.tag2{overflow:hidden}
.tag2 .hd h2{font-weight:normal;margin-bottom:10px;font-size:18px}
.tag2 li{float:left;margin-right:20px;line-height:2}

.l1_video{float:left;position:relative}
.l1_video img,.l1_video span{display:block;height:240px;width:362px}
.l1_video span{position:absolute;background:url(../theme/i24_video.png) no-repeat}


.relative{
	display: block;
	overflow: hidden;
	padding-top: 36px;
	padding-right: 0;
	padding-bottom: 55px;
	padding-left: 8px;
}

.relative cite{ display:block; overflow:hidden; color:#111111; font-family:"微软雅黑"; font-size:18px; padding:0 0 10px 15px;}

.relative dl{ display:block;}

.relative dl dd{ display:block; float:left; width:415px; padding:0 25px 0 0;}

.relative dl dd a{ display:block; width:400px; padding:0 0 0 15px; height:44px; line-height:44px; border-bottom:1px solid #c7c7c7; color:#262626; font-family:"宋体"; font-size:14px;}

.relative dl dd a:hover{ color:#a40182;}